/*css/estilos.css*/
/* Reset basico */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*esta regla elimina los margenes y el relleno predeterminado de todos los elementos y establece el modelo de caja para incluir el relleno y el borde del ancho y alto del elemento*/
body{
    font-family: arial, sans-serif;
    color: #454546;
    background-color: #e2e2e21f;
}/* esta regla define la fuente y color del texto en wl documnto */
h1{
    color: #1f4e79;
    font-size: 32px;
    text-align: center;
}
